# Key used to upload source to Etherscan (get from https://explorer.optimism.io/myapikey)
# 
ETHERSCAN_API_KEY=

# URL for the network. If using Alchemy with Optimism Goerli,
# it look like this:
# https://opt-goerli.g.alchemy.com/v2/ < Alchemy API Key >
#
RPC_URL_1=
RPC_URL_5=
RPC_URL_10=
RPC_URL_420=

# Private key (on Optimism Goerli) that has ETH to deploy contracts
DEPLOYER_PRIVATE_KEY=

# to use alchemy which will give you higher rate limits than the default rpcs,
# sign up for an api key https://docs.alchemy.com/docs/alchemy-quickstart-guide
# After signing up uncomment the `alchemyProvider(...)` in `src/wagmi.ts`
VITE_ALCHEMY_API_KEY=

ANVIL_CHAIN_ID=31337

# Used to fork mainnet for tests
ANVIL_FORK_URL=https://mainnet.optimism.io
