{
  "log": {
    "_recordingName": "eth_getUncleByBlockHashAndIndex.spec.ts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7cd51c491afcc7f2020f86fedbd14f2b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"eth_getUncleByBlockHashAndIndex\",\"params\":[\"0x509357d3abe2ee3e6dbbeaefc00aece314ab411aaed0f2ba709488a23f73a5ae\",\"0x0\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/REDACTED_TOKEN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-send-to-many",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 509,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
