# Exclude git history and configuration.

.git/
.gitignore

# Copy paste docker ignore

node_modules/
lib/**/node_modules
lib/**/dist
apps/**/node_modules
apps/**/dist
packages/**/node_modules
packages/**/dist
.env
.vscode
forge-artifacts
cache
\*\*/.env
target
