bundler-packages/*/docs/**/* linguist-generated=true
packages/*/docs/**/* linguist-generated=true
extensions/*/docs/**/* linguist-generated=true
tevm/docs/**/* linguist-generated=true
bundler/docs/**/* linguist-generated=true
docs/src/content/docs/reference/**/* linguist-generated=true

biome.json linguist-language=JSON-with-Comments
.vscode/*.json linguist-language=JSON-with-Comments
