[submodule "examples/vite/lib/solmate"]
	path = examples/vite/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/revm"]
	path = lib/revm
	url = https://github.com/evmts/revm
[submodule "lib/ethereumjs"]
	path = lib/ethereumjs
	url = https://github.com/ethereumjs/ethereumjs-monorepo.git
[submodule "examples/vite/lib/forge-std"]
	path = examples/vite/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
