[submodule "examples/vite/lib/solmate"]
	path = examples/vite/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/revm"]
	path = lib/revm
	url = https://github.com/evmts/revm
[submodule "lib/helios"]
	path = lib/helios
	url = git@github.com:evmts/helios.git
[submodule "lib/trevm"]
	path = lib/trevm
	url = https://github.com/init4tech/trevm
