{
  "log": {
    "_recordingName": "eth_getTransactionByHash.spec.ts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9659075b4a73245c6a42bbb8a94f4d70",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"eth_getTransactionByHash\",\"params\":[\"0x70827b0ec6185ef929c6f217bb98042552b414ecc85647990509b7c2c6161e26\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/REDACTED_TOKEN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 720,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":{\"blockHash\":\"0x509357d3abe2ee3e6dbbeaefc00aece314ab411aaed0f2ba709488a23f73a5ae\",\"blockNumber\":\"0x15b9a22\",\"from\":\"0x555e27c2ba9e259524477e1462a2b70cb5bb6896\",\"gas\":\"0x5208\",\"gasPrice\":\"0x11c2d1606\",\"maxFeePerGas\":\"0x15b81720f\",\"maxPriorityFeePerGas\":\"0x14a2d\",\"hash\":\"0x70827b0ec6185ef929c6f217bb98042552b414ecc85647990509b7c2c6161e26\",\"input\":\"0x\",\"nonce\":\"0x2\",\"to\":\"0xaa8b7ab3461586f91b9e82c16a2ab5da9c482019\",\"transactionIndex\":\"0x108\",\"value\":\"0x4435e3a2b72424\",\"type\":\"0x2\",\"accessList\":[],\"chainId\":\"0x1\",\"v\":\"0x1\",\"r\":\"0x67e74b2e372c3d58d9b4a4e11b3498dd055c0b0b1b2c481592baeab4679d69e\",\"s\":\"0x3392d55da84eb5a6d94a79b284fa32f448c0dc7cfae5f0f71fc7df0c5bc8d8c4\",\"yParity\":\"0x1\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-send-to-many",
              "value": "0"
            },
            {
              "name": "x-trace-id",
              "value": "66761cc1be20e6465d81a0a95a72aa59"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1084,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
