{
  "log": {
    "_recordingName": "eth_getCode.spec.ts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "20508f99c4c4a4f8d7b89df495baa90d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"eth_getCode\",\"params\":[\"0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266\",\"0x15b9a22\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/REDACTED_TOKEN"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 84,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":\"0xef0100b6785b782571980b3ddb5d40659f4861ff15aa02\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-send-to-many",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1053,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
