@import "tailwindcss";

/* Custom variables */
:root {
	--tevm-primary: #0085ff;
	--tevm-secondary: #00c2ff;
	--tevm-accent: #3bc9db;
}

/* Dark mode adjustments if needed */
:root.dark {
	--tevm-primary: #0085ff;
	--tevm-secondary: #00aaff;
}
