{
  "app": {
      "name": "Tevm App",
      "identifier": "dev.tevm.app",
      "version": "0.0.1"
  },
  "build": {
    "bun": {
      "entrypoint": "src/bun/index.ts"
    },
    "views": {
      "ui": {
        "entrypoint": "src/ui/index.ts"
      }
    },
    "copy": {
      "src/ui/index.html": "views/ui/index.html"
    }
  }
}
