{
  "log": {
    "_recordingName": "eth_getBlockTransactionCountByHash.spec.ts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3f9ce3024501e52e7cb926c5205055f1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"eth_getBlockTransactionCountByHash\",\"params\":[\"0x509357d3abe2ee3e6dbbeaefc00aece314ab411aaed0f2ba709488a23f73a5ae\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/REDACTED_TOKEN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 42,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":\"0x10a\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-send-to-many",
              "value": "0"
            },
            {
              "name": "x-trace-id",
              "value": "bb6115985982f799fb0333cb5b969447"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 598,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
