{
  "log": {
    "_recordingName": "eth_createAccessList.spec.ts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4de953b51400c54147164a63b0f2afae",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"eth_createAccessList\",\"params\":[{\"from\":\"0xde0B295669a9FD93d5F28D9Ec85E40f4cb697BAe\",\"to\":\"0x70997970C51812dc3A010C7d01b50e0d17dc79C8\",\"data\":\"0x\"},\"0x15b9a22\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/REDACTED_TOKEN"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 143,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":{\"accessList\":[{\"address\":\"0xa8204582fe8f915b7f423b1450b654fc98ff921d\",\"storageKeys\":[]}],\"gasUsed\":\"0x67a3\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-rpc-to",
              "value": "0x70997970C51812dc3A010C7d01b50e0d17dc79C8"
            },
            {
              "name": "x-send-to-many",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 522,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
