:root {
  --vp-c-brand: rgb(235, 8, 34);
  --vp-button-brand-bg: rgb(235, 8, 34);
  --vp-c-brand-1: rgb(235, 8, 34);
  --vp-c-brand-light: rgb(235, 8, 34);
  --vp-c-brand-lighter: rgb(235, 8, 34);
  --vp-c-brand-dark: rgb(235, 8, 34);
  --vp-c-brand-darker: rgb(235, 8, 34);


  --vp-code-font-size: 15px;
}