{
  "log": {
    "_recordingName": "eth_chainId.spec.ts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f0b475badba24f5b966ea2d4d86303e3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"eth_chainId\"}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/REDACTED_TOKEN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":\"0x1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 516,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
