{
  "log": {
    "_recordingName": "eth_getBlockTransactionCountByNumber.spec.ts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f43fcb181ed3932871fc6fb73c24041d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"eth_getBlockTransactionCountByNumber\",\"params\":[\"0x15b9a22\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/REDACTED_TOKEN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 42,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":\"0x10a\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-send-to-many",
              "value": "0"
            },
            {
              "name": "x-trace-id",
              "value": "0a653824fa122f905d07cade304fbcc5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 597,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
