{
  "log": {
    "_recordingName": "eth_estimateGas.spec.ts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "807c961fd20aefed33def358e6e5dfec",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"eth_estimateGas\",\"params\":[{\"from\":\"0xde0B295669a9FD93d5F28D9Ec85E40f4cb697BAe\",\"to\":\"0x70997970C51812dc3A010C7d01b50e0d17dc79C8\",\"data\":\"0x\"},\"0x15b9a22\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/REDACTED_TOKEN"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 42,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":\"0x695f\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-rpc-to",
              "value": "0x70997970C51812dc3A010C7d01b50e0d17dc79C8"
            },
            {
              "name": "x-send-to-many",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2973,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
