{
  "log": {
    "_recordingName": "eth_feeHistory.spec.ts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "aae17a587456993055a95b9b277098e5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"eth_feeHistory\",\"params\":[1,\"0x15b9a22\",[1,2,3]]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/REDACTED_TOKEN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 245,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":{\"oldestBlock\":\"0x15b9a22\",\"reward\":[[\"0x11f1c\",\"0x11f1c\",\"0x11f1c\"]],\"baseFeePerGas\":[\"0x11c2bcbd9\",\"0x117030d08\"],\"gasUsedRatio\":[0.42737948581068114],\"baseFeePerBlobGas\":[\"0x1\",\"0x1\"],\"blobGasUsedRatio\":[0]}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-send-to-many",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 509,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
