{
  "log": {
    "_recordingName": "eth_coinbase.spec.ts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5f42a6de20914e053bcaad3e2abe2420",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"eth_coinbase\"}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/REDACTED_TOKEN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 116,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"error\":{\"code\":-32601,\"message\":\"The method eth_coinbase does not exist/is not available\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1054,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
