on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
  merge_group:

name: Check generated docs up to date

jobs:
  checkdocs:
    name: Check generated docs up to date
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: "Setup"
        uses: ./.github/actions/setup

      - name: Run Linters
        run: bun run build:types && bun run generate:docs && git diff --exit-code
        env:
          NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

